html,
body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bs-light);
}

dialog {
    width: 100%;
    height: 100vh;
    border: 0px;
    background-color: #fafafa88;
}

dialog .card {
    margin-top: 50px;
}

fieldset {
    border: 1px solid var(--bs-dark);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

legend {
    margin-left: -6px;
    margin-top: -24px;
    background-color: var(--bs-dark);
    color: var(--bs-light);
    border: 0px;
    padding: 4px 8px;
    /*
    border: 0 solid gray;
    border-right-width: 6px;
    border-bottom-width: 6px;
    */
}

fieldset menu {
    list-style: none;
}

fieldset menu li a {
    text-decoration: none;
}

#main-container aside {
    max-width: 275px;
}

aside fieldset {
    width: 250px;
}

#main-container {
    height: calc(100vh - 80px);
    overflow: hidden;
}

thread-form,
post-form {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.w100 {
    width: 100%;
}

.hidden {
    display: none
}